html, body{
  padding: 50px;
  margin: 0px;
  background-color: rgb(230, 240, 255); /* Fondo azul claro */
}

main {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  grid-auto-rows: calc(16.5rem * 9 / 16);
  gap: 10px;
  padding: 40px;
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  width: 100%;
}

.aplicacion {
  border: 0px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Mayor opacidad para mayor visibilidad */
  transition: opacity 0.3s ease, transform 0.3s ease;
  background-color: rgb(70, 130, 180); /* Fondo azul medio */
  color: white; /* Texto en blanco para destacar */
  position: relative;
  cursor: pointer;
  border-radius: 10px; /* Bordes redondeados más grandes */
}

.aplicacion:hover {
  opacity: 1; /* Más visible al hacer hover */
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
  background-color: rgb(30, 90, 140); /* Azul más oscuro al hacer hover */
}

