body {
  font-family: sans-serif;
  background: rgb(200, 230, 255); /* Fondo azul claro */
}

#formlogin {
  width: 300px;
  height: 380px;
  margin: auto;
  margin-top: 100px;
  background: white;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar el formulario */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid rgb(70, 130, 180); /* Borde azul */
}

#logo {
  width: 50%;
  margin-bottom: 20px;
}

input,
button {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid rgb(70, 130, 180); /* Borde azul */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para inputs y botón */
}

input {
  background-color: rgb(240, 248, 255); /* Fondo azul claro */
  color: rgb(70, 130, 180); /* Texto azul */
}

button {
  background-color: rgb(70, 130, 180); /* Fondo azul fuerte */
  color: white; /* Texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación suave al hacer hover */
}

button:hover {
  background-color: rgb(30, 90, 140); /* Cambio de color al hacer hover */
}

#feedback {
  margin-top: 10px;
  font-size: 14px;
}
